<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <sites>
      <site name="kitchensink" enableTracking="true" virtualFolder="/" physicalFolder="/" rootPath="/sitecore/content" hostName="kitchensink.specflow.local" startItem="/kitchen sink" database="web" domain="extranet" allowDebug="true" cacheHtml="true" htmlCacheSize="50MB" registryCacheSize="0" viewStateCacheSize="0" xslCacheSize="25MB" filteredItemsCacheSize="10MB" enablePreview="true" enableWebEdit="true" enableDebugger="true" disableClientData="false" cacheRenderingParameters="true" renderingParametersCacheSize="10MB" patch:before="site[@name='website']" />
    </sites>
  </sitecore>
</configuration>