<script type="text/javascript">
    $(document).ready(function() {
        $('.clickable').click(function() {
            $('.awesome').html('You are just the best!!');
        });
    });
</script>

<input type="button" class="clickable" value="click me!!" />
<span class="awesome"></span>